<div class="duel-top-option">
	<div class="back-btn">
		<img src="images/prev_arrow.png" id="register-dir-login"><br>
		Back
	</div>
	<div class="logo-area">
		<img src="images/ematch_banner.png">
	</div>
</div>
<div class="container">
	<div class="register-content">
		<div class="row">
			<div class="register-inputs">
				<div class="col-md-12">
					<h1 class="register-status">FORGOT PASSWORD ?</h1>
				</div>
				<div class="col-md-12">
					<div class="form-box">
						<label for="">
							<i class="fa fa-envelope"></i>
							Enter your email address
						</label>
						<input type="email">
					</div>
				</div>
				<div class="col-md-12 text-right">
				<div class="register-form-submit">
					<button id="form-next-status">Send</button><br>
					<a href="" id="">I have an acoount already!</a>
					<a href="" id="register-btn">Create account!</a>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>