<div class="duel-top-option">
	<div class="back-btn">
		<img src="images/prev_arrow.png" id="register-dir-login"><br>
		Back
	</div>
	<div class="logo-area">
		<img src="images/ematch_banner.png">
	</div>
</div>

<div class="container">
	<div class="register-content">
		<div class="register-inputs">

			<div class="row">
				<div class="col-md-6">
					<div class="form-box">
						<label><i class="fa fa-tag"></i>First name :</label><br>
						<input type="text" name="">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-box">
						<label><i class="fa fa-tag"></i>Last name :</label><br>
						<input type="text" name="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-box">
						<label><i class="fa fa-envelope"></i>Email :</label><br>
						<input type="text" name="">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-box">
						<label><i class="fa fa-user-circle"></i>Username :</label><br>
						<input type="text" name="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-box">
						<label><i class="fa fa-key"></i>Password :</label><br>
						<input type="text" name="">
					</div>
				</div>
			</div>
			<div class="col-md-12 text-right">
				<div class="register-form-submit">
					<button>Register</button><br>
					<a href="">I have an acoount already!</a><br>
					<a href="">I forgot my account!</a>
				</div>
			</div>
		</div>
	</div>
</div>