<div class="user-home-settings">
	<ul>
		<li id="people-view">
			<i class="fa fa-users"></i>
			<span class="total-online">0</span>	
		</li>
		<li id="settings-view">
			<i class="fa fa-cog"></i>
		</li>

		<li id="rankings-view">
			<i class="fa fa-comments"></i>
		</li>

		<li>
			<i class="fa fa-table"></i>
		</li>
		
		<li>
			<i class="fa fa-question-circle"></i>
		</li>
	</ul>
<div>