<div class="user-home-settings">
	<ul>
		<li>
			<img src="images/settings_option.png" title="Settings" id="people-view">
		</li>
		<li>
			<img src="images/settings_option.png" title="Settings" id="settings-view">
		</li>

		<li>
			<img src="images/rank_option.png" title="Members status" id="rankings-view">
		</li>

		<li>
			<img src="images/timeline_option.png" title="Timeline">
		</li>
		
		<li>
			<img src="images/help_option.png" title="Help">
		</li>
	</ul>
<div>