<div class="duel-top-option animated slideInLeft">
	<div class="back-btn">
		<img src="images/prev_arrow.png" id="duel-dir-home"><br>
		Back
	</div>
	<div class="logo-area">
		<img src="images/ematch_banner.png">
	</div>
</div>
<div class="home-content">
	<div class="duel-content animated flipInX">
		<% if (data.length > 1) { %>
		<p class="duel-lobby-text">DUEL LOBBY</p>
		<div class="duel-member-list">
			<table>
				<tbody>
					<% for(var i=0; i < data.length; i++) { %>
						<% if (data[i].id != user['id']) {%>
							<tr data-value="<%=data[i].username%>">
								<td class="duel-profile-image">
									<img src="images/profile.png">
								</td>
								<td class="duel-name">
									<p><%=data[i].username%></p>
								</td>
								<td class="duel-level">
									<p>Rank <%=data[i].rank%></p>
								</td>
								<td class="duel-player-btn text-center" data-value="<%=data[i].email%>">
									<img src="images/duel_player.png" id="duel-selected-player">
								</td>
							</tr>
						<% } %>
					<% } %>
				</tbody>
			</table>
		</div>
		<% } else {%>
			<div class="empty-online">
				<img src="images/no_online.png" alt="">
				<p>No students are online at this time, wait for them to connect</p>
			</div>
		<% } %>
	</div>
</div>
<!-- <% include demo %> -->