<% include templates/head.ejs %>
	<div class="home-content">
		<img src="images/ematch_banner.png">
		<div class="profile-details">
			<p class="user-profile-name">
				ESHARK
			</p>
			<img src="images/profile.png">
			<div class="user-level-status">
				<span>Level 6</span>
				<span>Rank: 150</span>
			</div>
		</div>
		<div class="user-options">
			<img src="images/find_battle.png" onclick="location.href='/match'"><br>
			<img src="images/duel_player.png" onclick="location.href='/duel'">
		</div>
	</div>
	<% include templates/menu.ejs %>
<% include templates/footer.ejs %>