<div class="home-content">
	<img src="images/ematch_banner.png">
	<div class="profile-details">
		<p class="user-profile-name">
			<%= user ?  user.username : "" %>
		</p>
		<div class="home-profile-img">
			<img src="images/profile.png">
			<div class="home-user-points">
				<span>
					<img src="images/trophy.png">
					<small>
						<%= user ?  user.points : "1000" %>
					</small>
				</span>
			</div>
		</div>
		<div class="user-level-status">
			<span>RANK <span class="user-rank"><%= user ?  user.rank : "not rank" %></span> </span>
		</div>
	</div>
	<div class="user-options">
		<img src="images/find_battle.png" id="battle-btn"><br>
		<img src="images/duel_player.png" id="duel-btn">
	</div>
</div>
