<% include templates/head.ejs %>
	<div class="login-content">
		<img src="images/ematch_banner.png">
		<p>PvP Online Quiz Battle</p>
		<div class="login-form-input">
			<input type="text" name="" placeholder="Username"><br>
			<input type="text" name="" placeholder= "Password">
		</div>
		<img src="images/login_btn.png">
		<h3>Sign Up <%= value['status'] %></h3>
	</div>
<% include templates/footer.ejs %>