<div class="login-content">
	<img src="images/main_logo.png">
	<p>PvP Online Quiz Battle</p>
	<div class="login-form-input form-box">
		<input type="text" name="" placeholder="Username" class="log-username"><br>
		<input type="password" name="" placeholder= "Password" class="log-password">
	</div>
	<img src="images/login_btn.png" id="login-btn">
	<p class="signup-btn" id="register-btn">SIGN UP</p>
</div>