<div class="match-timer">
	<div class="question-timer">
		<span>
			<span>
				<img src="images/alarm-check.svg" alt="">
			</span>
			<span class="set-minute-timer">4</span>
			<span>:</span>
			<span class="set-seconds-timer">60</span>
		</span>
	</div>
</div>
<div class="home-content">
	<div class="match-content animated flipInX">
		<p class="match-category">
			JAVA
		</p>
		<span class="level-count-status">
			<span>1</span> of 10
		</span>
		<div class="match-players-info">
			<img src="images/bomb.png" class="match-bomb">
			<div class="players-info-box left-info">
				<div class="match-player left-player">
					<div class="left-player-box">
						<div>
							<img src="images/profile.png">
						</div>
						<div class="player-details">
							<p>
								CSHARK
							</p>
							<p>
								Level 6
							</p>
						</div>
					</div>
				</div>
				<div class="match-question-status">
					<span class="selected"></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="players-info-box right-info">
				<div class="match-player right-player">
					<div class="right-player-box">
						<div>
							<img src="images/profile.png">
						</div>
						<div class="player-details">
							<p>
								CSHARK
							</p>
							<p>
								Level 6
							</p>
						</div>
					</div>
				</div>
				<div class="match-question-status">
					<span class="selected"></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
		<div class="match-question-area">
			<span class="question-item-left">Items left: <span class="item-left">10</span></span>
			<span class="next-arr-btn">NEXT <img src="images/next_arrow.png"></span>
			<p class="match-question">Which company now owns Java ?</p>
			<div class="question-multiple-type">
			</div>
		</div>
	</div>
</div>
<!-- <% include demo %> -->