<% include templates/head.ejs %>
	<div class="duel-top-option">
		<div class="back-btn">
			<img src="images/prev_arrow.png" onclick="location.href='/home'"><br>
			Back
		</div>
		<div class="logo-area">
			<img src="images/ematch_banner.png">
		</div>
	</div>
	<div class="home-content">
		<div class="match-content">
			<div>
				<p class="match-category">
					JAVA
				</p>
				<span class="level-count-status">
					3 of 7
				</span>
				<div class="match-players-info">
					<img src="images/bomb.png" class="match-bomb">
					<div class="players-info-box">
						<div class="match-player left-player">
							<div class="left-player-box">
								<div>
									<img src="images/profile.png">
								</div>
								<div class="player-details">
									<p>
										CSHARK
									</p>
									<p>
										Level 6
									</p>
								</div>
							</div>
						</div>
						<div class="match-question-status">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="players-info-box right-info">
						<div class="match-player right-player">
							<div class="right-player-box">
								<div>
									<img src="images/profile.png">
								</div>
								<div class="player-details">
									<p>
										CSHARK
									</p>
									<p>
										Level 6
									</p0>
								</div>
							</div>
						</div>
						<div class="match-question-status">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include templates/menu.ejs %>
<% include templates/footer.ejs %>