<div class="duel-top-option">
	<div class="back-btn">
		<img src="images/home.png" id="match-dir-home"><br>
	</div>
	<div class="logo-area duel-logo-area">
		<img src="images/ematch_banner.png">
	</div>
</div>
<div class="home-content">
	<div class="duel-content">
		<div class="profile-details">
			<span class="duel-lobby-text">WINNER</span>
			<p class="user-profile-name result-winner"></p>
			<div class="home-profile-img">
				<img src="images/profile.png">
				<div class="home-user-points">
					<span>
						<img src="images/trophy.png">
						<small class="result-winner-points"></small>
					</span>
				</div>
			</div>
			<div class="user-level-status">
				<span>RANK <span class="result-winner-rank"></span></span>
			</div>
		</div>
	</div>
	<div class="vanquished-content">
		<div>
			<p class="result-label"></p>
		</div>
		<div class="vanquished-opponent">
			<img src="images/profile.png">
			<p class="result-losser"></p>
			<p class="result-losser-points">1200 pts.</p>
		</div>
	</div>
</div>
<div class="preview-result-overlay">
	<div class="preview-result">
		<img src="./images/close.png" class="hide-pr">
		<h4>BATTLE RESULT</h4>
		<img src="images/profile.png">
		<p>You win!</p>
		<div class="player-points-update">
			<img src="images/trophy.png">
			<span>
				<span class="points-indicator"></span>
				<span class="player-earned-points">
					0
				</span>
			</span>
		</div>
	</div>
</div>