@font-face {
  font-family: railwayBold_font;
  src: url('../images/Raleway-SemiBold.ttf');
}

.dialog-wrapper {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	left: 0px;
	background-color: rgba(0,0,0, 0.7);
	z-index: 999;
}

.dialog-wrapper .dialog {
	width: 280px;
    background-color: #1a5360;
    margin: auto;
    margin-top: 230px;
    overflow: hidden;
    box-shadow: 1px 1px 19px 1px #0ff;
}

.dialog-wrapper .request-dialog {
    width: 300px;
}

.dialog-wrapper .dialog .dialog-head {
	background-color: transparent;
    padding: 10px 10px;
    border-bottom: 1px solid #c3c3c3;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.dialog-wrapper .dialog .dialog-body {
	background-color: #003d4a;
    padding: 20px 20px;
    color: #f3efef;
    font-size: 14px;
}

.dialog-wrapper .dialog .dialog-body ul li {
    list-style: none;
}

.dialog-wrapper .dialog .dialog-body ul li::first-letter {
    text-transform: capitalize;
}

.duelTimer {
    color: #797878;
    background-color: #00414f;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 60px 0px;
    box-shadow: 1px 1px 19px 1px #0ff;
}

.duelTimer p:first-child {
    font-size: 20px;
    font-weight: bold;
    color: #ccd1d2;
    font-family: railwayBold_font;
    letter-spacing: 6px;
    line-height: 13px;
}

.duelTimer p.timerCount {
    font-size: 120px;
    margin-bottom: 20px 0px;
    color: #fff;
}

.duelTimer p.timer-reminder {
    font-size: 13px;
    padding: 0px 10px;
    text-align: justify !important;
    color: #9e9b9b;
}

.duelTimer span {
    font-size: 15px;
    color: #fff;
}

.dialog-wrapper .dialog .dialog-foot {
	border-top: 1px solid #c3c3c3;
	background-color:transparent;
    padding: 12px 12px;
    color: #333;
    text-align: right;
}

.dialog-wrapper .dialog .popup-btn {
	margin-left: 10px;
    font-size: 12px;
}


.dialog-wrapper .dialog .dialog-input {
	border: 1px solid #a0a0a0;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    color: #333;
    margin-left: 5px;
}