<div class="duel-top-option">
	<div class="back-btn">
		<img src="images/home.png" id="match-dir-home"><br>
	</div>
	<div class="logo-area footer-logo-area">
		<img src="./images/settings.png">
	</div>
</div>
<div class="people-view-content">
	<div class="people-box">
		<div class="form-box search-person-input">
			<i class="fa fa-search"></i>
			<input type="text" placeholder="Find member">
		</div>
		<div class="people-table">
			<% for(var i=0; i < data.length; i++) { %>
				<% if (data[i].id != user['id']) {%>
					<div class="members-status <%= data[i].id %>-user" data-value="<%= data[i].id %> ">
						<img src="images/profile.png">
						<p><%= data[i].username %></p>
						<p class="member-activity-status">2 minutes active</p>
						<span class="members-status-option online-status">
							<% if (data[i].is_online == 1) {%>
								<i class="fa fa-circle online"></i>online
							<% } else { %>
								<i class="fa fa-circle offline"></i>offline
							<% } %>
						</span>
					</div>
				<% } %>
			<% } %>
		</div>
	</div>
</div>