<div class="duel-top-option">
	<div class="back-btn">
		<img src="images/home.png" id="match-dir-home"><br>
	</div>
	<div class="logo-area footer-logo-area">
		<img src="images/rankings.png">
	</div>
</div>
<div class="rankings-content">
	<img src="images/trophy.png" class="medal-overlap">
	<div class="ranking-view-table">
		<div class="form-box">
			<select name="" id="" class="ranking-specialty">
				<option value="">Specialty</option>
			</select>
		</div>
		<h3>MASTER OF C++</h3>
		<table>
			<tbody>
				<tr>
					<td class="duel-profile-image">
						<img src="images/medal.png" class="rank-medal-img">
						<img src="images/profile.png">
					</td>
					<td class="duel-name">
						<div class="player-details">
							<p>
								CSHARK
							</p>
							<p class="player-level">
								Level 6
							</p>
						</div>
					</td>
					<td class="duel-player-btn">
						<div class="user-rank-points">
							<img src="images/rank_tropy.png">
							<span>400</span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="duel-profile-image">
						<img src="images/medal.png" class="rank-medal-img">
						<img src="images/profile.png">
					</td>
					<td class="duel-name">
						<div class="player-details">
							<p>
								CSHARK
							</p>
							<p class="player-level">
								Level 6
							</p>
						</div>
					</td>
					<td class="duel-player-btn">
						<div class="user-rank-points">
							<img src="images/rank_tropy.png">
							<span>400</span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="duel-profile-image">
						<img src="images/medal.png" class="rank-medal-img">
						<img src="images/profile.png">
					</td>
					<td class="duel-name">
						<div class="player-details">
							<p>
								CSHARK
							</p>
							<p class="player-level">
								Level 6
							</p>
						</div>
					</td>
					<td class="duel-player-btn">
						<div class="user-rank-points">
							<img src="images/rank_tropy.png">
							<span>400</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- <% include ../demo %> -->