<div class="duel-top-option">
	<div class="back-btn">
		<img src="images/home.png" id="match-dir-home"><br>
	</div>
	<div class="logo-area footer-logo-area">
		<h1 class="footer-header-title">MESSAGES</h1>
	</div>
</div>
<div class="message-content">
	<div class="messages">
		<div class="mes-onl-mem">
			<div class="action">
				<span>
					<i class="fa fa-arrow-left"></i>
				</span>
				<span class="members-msg">
					ALL
				</span>
			</div>
		</div>
		<div class="mem-onl-prof">
			<div class="members-list-online">
				<% for(var i=0; i < data.length; i++) { %>
					<% if (data[i].id != user['id']) {%>
						<div class="mem-online-prof" data-value="<%=data[i].id%>" data-selector="<%=data[i].email%>" data-name="<%=data[i].username%>">
							<img src="images/profile.png">
							<span class="mem-username-onl"><%=data[i].username%></span><br>
							<span class="unread-msg">0</span>
						</div>
					<% } %>
				<% } %> 
			</div>
			<div class="members-conversation">
				<div class="msg-convo-list">
					<p>No converstations made.</p>
				</div>
				<div class="type-msg">
					<p>
						<input type="text" class="msg-content">
						<i class="fa fa-paper-plane" id="send-msg"></i>
					</p>
				</div>
			</div>
		</div>
	</div>	
</div>

<!-- <% include ../demo %> -->