<div class="duel-top-option">
	<div class="back-btn">
		<img src="images/home.png" id="match-dir-home"><br>
	</div>
	<div class="logo-area footer-logo-area">
		<h1 class="footer-header-title">TUTORIAL</h1>
	</div>
</div>
<div class="tutorial-view-content">
	<div class="tutorial-box">
		<% for(var i=1; i < 23; i++) {%>
		   <img src="images/tutorial/1.png" alt="">
		<% } %>
	</div>
</div>